<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="znk.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ruler"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ruler"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".First"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Measurement_unit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Voltage_meter"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Civil_Meter"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Civil_Meter2" />
        <activity android:name=".Density"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>